<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micumán - Tienda online</title>
</head>
<body>
{% extends "AppMicu/index.html" %}
{% load static %}
{% block cambia %}    
<h3>Detalle de producto</h3>

<p>Producto: <i>{{ productos.nombre }}</i></p>
<p>Precio: <i>{{ productos.precio }}</i></p>
<p>Imagen: <i>{{ productos.imagen }}</i></p>

<p>
    <a href="{% url 'List' %}">Regresar</a>
</p>

{% endblock %} 
</body>
</html>