<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micumán - Tienda online</title>
</head>
<body>
{% extends "AppMicu/index.html" %}
{% load static %}
{% block cambia %}    
<h3>Editar producto</h3>
<form action="" method="POST">
    {% csrf_token %}

    {{ form.as_p }}
    <input type="submit" value="Enviar">
    <a href="{% url 'List' %}">Regresar</a>

</form>

{% endblock %} 
</body>
</html>