<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micumán - Tienda online</title>
</head>
<body>
{% extends "AppMicu/index.html" %}
{% load static %}
{% block cambia %}    
<h3>Productos cargados en base de datos</h3>
<div class="product-list">
    {% for producto in object_list %}
    <div class="product-card">
        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="height: 150px;width: 200px;">
        <div class="product-info">
            <h6>{{ producto.nombre }}</h6>
            <p>Precio: ${{ producto.precio }}</p>
            <p>
                <a href="{% url 'Detail' producto.id %}">Ver</a>
                <a href="{% url 'Edit' producto.id %}">Editar</a>
                <a href="{% url 'Delete' producto.id %}">Borrar</a>
            </p>
        </div>
    </div>
    {% endfor %}

{% endblock %} 
</body>
</html>