<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micumán - Tienda online</title>
</head>
<body>
{% extends "AppMicu/index.html" %}
{% load static %}
{% block cambia %}    
<h1>Resultados de la búsqueda</h1>
<div class="product-list">
    {% for producto in productos %}
    <div class="product-card">
        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="height: 250px;width: 300px;">
        <div class="product-info">
            <h3>{{ producto.nombre }}</h3>
            <p>Precio: ${{ producto.precio }}</p>
        </div>
    </div>
    {% endfor %}

{% endblock %} 
</body>
</html>