<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micumán - Tienda online</title>
</head>
<body>
{% extends "AppMicu/index.html" %}
{% load static %}
{% block cambia %}    

<h1>Sobre Nosostros</h1>  

<h7>En Micumán, llevamos la tradición de las empanadas tucumanas a tu mesa." Desde nuestras raíces tucumanas, te ofrecemos un viaje culinario a través de los sabores más auténticos de nuestra región. Nuestras empanadas, elaboradas con ingredientes frescos y recetas familiares, son un homenaje a la rica gastronomía argentina. Pero eso no es todo, también te invitamos a disfrutar de una variedad de pastas y pizzas caseras, preparadas con la misma pasión y dedicación.</h7>

{% endblock %} 
</body>
</html>